@section style {
    <style type="text/css">
        input[type=text] {
            max-width: 690px;
        }

        .container-login {
            color: black;
        }
    </style>
}

<div class="container-login">
    <img src="~/imagem/tag.png" />
    <br />
    <h1>REAL-PROMO</h1>
    <div class="container-form">
        <input type="text" placeholder="Empresa" id="empresa" />
        <br />
        <input type="text" placeholder="Chamada" id="chamada" />
        <br />
        <input type="text" placeholder="Regras" id="regras" />
        <br />
        <input type="text" placeholder="Endereço(URL)" id="enderecoUrl" />

        <div class="container-button">
            <input type="button" value="CADASTRAR" id="btnCadastrar" />
        </div>

        <div id="mensagem"></div>
    </div>
</div>