@section style {
    <style type="text/css">
        body {
            background-color: #FE602B;
        }

        .container-login {
            text-align: left;
        }
    </style>
}

<div class="container-login" id="container-login">
    <span>*Todas as promoções tem um prazo de 1 hora.</span>
</div>